<div class="col-sm-3" id="nav">
  <!-- <div class="well"> -->
  <!--   Want to learn from me in person? I'm teaching -->
  <!--   in <a href="https://rstudio-sfbay.eventbrite.com">SF, Jan 19-20</a>. -->
  <!-- </div> -->

  <!-- <div class="well"> -->
  <!--   Want a physical copy of this -->
  <!--   material? <a href="http://amzn.com/1466586966?tag=devtools-20">Buy a -->
  <!--     book from amazon!</a>. -->
  <!-- </div> -->

  <p><a class="btn btn-primary"
	href="http://www.jankocizel.com">My Web Page
   </a></p>


  <h4>Archieve</h4>
  <ul>
    {% for post in site.posts %}
    <li> <b>{{ post.date | date_to_string }}</b> &raquo; <a href="{{post.url}}"> {{post.title}}</a>
    {% endfor %}
  </ul>
  <!-- <ul class="list-unstyled" id="toc"></ul> -->
  
  <hr>
  <p><a href="/contribute.html">How to contribute</a></p>

</div>
