<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}} &middot; Advanced R.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="/css/highlight.css" rel="stylesheet"> -->

    <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700'
	  rel='stylesheet' type='text/css'>
  </head>

  <body>

    <div class="container">

      {% include top.html %}

      <div class="row">
        
	{% include left.html %}

        <div id="content" class="col-sm-8 pull-right">
          {{ content }}
        </div>
      </div>

      <div class="footer">
        <hr>
        <p>&copy; Janko Cizel
      </div>

    </div> <!-- /container -->

    <script src="//code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- <script src="www/toc.js"></script> -->

  </body>
</html>









<!-- {% include header.html %} -->
<!-- <div class="row-fluid"> -->
<!--   <div class="col-md-8"> -->
<!--     {{ content }} -->
<!--   </div> -->
<!--   <div class="col-md-4"> -->
<!--     {% include sidebar.html %} -->
<!--   </div> -->
<!-- </div> -->
<!-- {% include footer.html %} -->
